/*
created on : 7-nov-2019,
*/


body{
	background-color: darkcyan
	;color:black
}
.container{
	width: 1000px;
	height: 800px;
	margin: 100px auto;
	background-color:darkcyan ;
	position: relative;
}
.container h1{
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 3em;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	top: 30%;
	transform: translateY(-50%);
}

p{
 font-size: 35px;
}

h2{
	font-size: 40pt;
	color: black;
}
h3{
	font-size: 150pt;
	color: white;
		position: absolute;
		top: 12%;
		left: 50%;
		transform: translate(-50%, -50%);
	  } 
	  
.borderexample {
 border-style:solid;
 border-color:#287EC7;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
  }


